/*
    style.css 
*/

/* ========================================================= */
/*  IMPORTS for fonts 

    Resource:  fonts.google.com
*/

/* ========================================================= */
/*  Body Style Rules */
body {
    background:aqua;
}


/* ========================================================= */
/* Text Style Rules */




/* ========================================================= */
/*  Container and Spacer Rules */

.text-spacing {
    padding: 0.25em;
}

.section-spacing {
    padding: 1.0em;
}

.placeholder-spacing {
    height: 500px;
}

/* ========================================================= */
/* Color Style Rules
   Reference:  coolors.co
*/


/* ========================================================= */
/* Button Styles */



/* ========================================================= */
/* Links Style */


/* ========================================================= */
/* Card Styles */


.title {
  color: grey;
  font-size: 18px;
}

.cardbg{
    
background-color: black;
color: azure;

}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


.card-img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

/* --------------------------------------------------------- */

/* Footer */

.footer-custom {
    background-color: #013158;
    color: #FFFFFA;
    font-family: 'Open Sans', sans-serif;    

}

.footer-glyphicon {
    color: #FFFFFA;
    font-size: 2em;
    letter-spacing: 2em;
}


/* --------------------------------------------------------- */

/* Footer */

/* ========================================================= */
/* Tab Styles */


/* Tabs .borders :: Add borders to tab content */
.tab-content.borders {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/* ========================================================= */
/* Accordion Styles */



/* ========================================================= */
/* Modal Style */



/* ========================================================= */
/* Image Styles */


/* ========================================================= */
/* Navbar */


/* ========================================================== */

.bg-footer {    
    background-color: #4060A5;
}


